<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="shortcut icon" href="IMAGENES/loguito.png" type="image/x-icon">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <form action="/logica" method="POST" >
        <div class="form"> 
            <h1>Login</h1>
            <div class="grupo" >
             
             <input type="email" name="email" id="email" required ><span class="barra">  </span>
                <label for=""> Correo</label>
                </div>
                <div class="grupo"> 
             <input type="password" name="password" id="password" required ><span class="barra">  </span>
                <label for=""> Clave</label>
                </div>  
            <button type="submit">Entrar</button>
            <button type="reset" >Borrar  </button>
         <center><p> <a href="/"><h5>volver al inicio </h5></a></p> </center> 
       <center>   <p>  <a href="/regis"><h6>crear una cuenta </h6></a></p></center>
           
        </div>
    </form>
    
</body>

</html>